<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h1>Create New Chat</h1>
    <form action="/chats" method="post">
        <input type="text" name="sender" placeholder="who is sending" required  ><br/><br/>
        <textarea name="msg" placeholder="Enter Message" rows="8" cols="30" required    ></textarea><br/><br/>  
        <input type="text" name="receiver"  placeholder="who is receiver" required  ><br/><br/>  
        <button>Create</button>
    </form>
</body>
</html>